<section class="hero  is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <h3 class="title has-text-black">Registro de Participantes</h3>
                <hr class="login-hr">
                <div class="box">
                    <form>
                        <div class="field">
                            <div class="control column is-8 is-offset-2">
                                <input class="input is-medium" type="text" placeholder="Rol" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control column is-8 is-offset-2">
                                <input class="input is-medium" type="text" placeholder="Estudiante">
                            </div>
                        </div>
                        <div class="column is-5 is-offset-4">
                            <button class="button is-block is-info is-medium is-fullwidth">Agregar Participante </button>
                        </div>
                    </form>

                </div>
                <table class="table  is-fullwidth">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>