<section class="hero  is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-5 is-offset-4">
                <h3 class="title has-text-black">Registro de proyecto</h3>
                <hr class="login-hr">
                <div class="box">
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Nombre del Proyecto" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Sede">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Lider del  proyecto">
                            </div>
                        </div>
                        <div class="field">
                            <label class=""> 
                                <textarea class="textarea" placeholder="Descripcion Del Proyecto"></textarea>
                            </label>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-info">
                                    <select>
                                  <option>Ciencias</option>
                                  <option>Tecnologia</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>